.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  color: #fff;
}

.titleBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: bold;
  line-height: 32px;

  cursor: pointer;
  box-shadow: none;
  border: none;
  border-radius: 3px;

  width: fit-content;
  height: 100%;
  padding: 0 8px;
  overflow: hidden;
}
.titleBtn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.titleText {
  color: #172b4d;
  font-size: 18px;
  line-height: 32px;

  cursor: pointer;
  box-shadow: none;
  border: none;
  border-radius: 3px;

  padding-left: 8px;
  width: fit-content;
  resize: none;
  overflow: hidden;
}

.titleText:focus {
  outline: 0;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #0079bf;
}

.wrapper button {
  cursor: pointer;
  box-shadow: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  padding: 8px;
  text-align: left;
  user-select: none;
  transition: 300ms;
}

.sideMenu {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 45px;

  transition-property: transform, width;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transform: translateX(339px);

  width: 339px;
  z-index: 5;
  background-color: #f4f5f7;
  height: calc(100vh - 33px);

  display: flex;
  flex-direction: column;
}

.sideMenu.display {
  box-shadow: 0 12px 24px -6px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  transform: translateX(0);
}

.colorOpt {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.sideHeader {
  position: relative;
  height: 40px;
  margin-bottom: 8px;

  text-align: center;
  display: grid;
  align-items: center;
}

.sideHeader span {
  color: #5e6c84;
  line-height: 40px;

  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  margin: 0 12px;
  padding: 0 32px;
}

.sideHeader .closeButton {
  cursor: pointer;
  color: #6b778c;
  padding: 4px;

  display: grid;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;

  position: absolute;
  right: 0;
  top: 0;
}

.sideBody {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px 12px;
}

.sideBody.sideColors > div {
  flex: 1 0 25%;
  margin: 4px;
}

.flexGrow {
  flex-grow: 1;
}
.sideMenu fieldset {
  border: none;
}
.sideMenu fieldset > div {
  display: flex;
  color: #172b4d;
}

.sideMenu fieldset label {
  margin-left: 0.5rem;
}

.sideMenu textarea {
  color: #172b4d;
  margin: 0 12px;
  width: calc(100% - 24px);
}

.addButton {
  color: #61bd4f;
  background: #61bd4f11;

  border: 1px solid rgba(9, 30, 66, 0.13);
  margin: auto 12px 2rem;
}

.addButton:hover {
  color: #fff;
  background: #61bd4f;
}

.deleteButton {
  color: #b04632;
  background: #b0473211;

  border: 1px solid rgba(9, 30, 66, 0.13);
  margin: auto 12px 2rem;
}

.deleteButton:hover {
  color: #fff;
  background: #b04632;
}
.button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  height: 40px;

  display: grid;
  text-align: center;
  align-items: center;
}
