.column {
  border: 1px solid #000;
  background: #ebecf0;
  margin: 8px;
  min-width: 350px;
  max-width: 350px;
  width: 100%;
  min-height: 115px;
  height: max-content;
  transition: 300ms;
  user-select: none;
}
.columnDraggingOver {
  background: #d3d4d8;
}
.title {
  padding: 8px;
  text-align: left;
  font-size: 1.25rem;
  user-select: none;
}

.droppable {
  transition: 300ms;
  border-radius: 5px;
  padding: 8px 8px 0 8px;
  min-height: 10rem;
}
