.PageWrapper {
  color: rgb(9, 30, 66);
}

.BoardWrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: inline-flex;
  user-select: none;
}

.backgroundHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
