.PageWrapper {
  color: rgb(9, 30, 66);
}

.BoardWrapper {
  min-height: 100%;
  min-width: 100%;
  display: inline-flex;
  user-select: none;
}

.BoardWrapper > div:first-of-type {
  margin-left: 8px !important;
}

.backgroundHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
