.boardItemDetailsTitle {
  flex: 0 0 auto;
  font-size: 16px;
  font-weight: bold;
  max-height: 40px;
  width: 100%;
  word-wrap: break-word;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.boardItem {
  cursor: pointer;
  border-radius: 3px;

  min-width: 23.5%;
  margin: 0 2% 2% 0;
  padding: 8px;

  background-color: #97a0af;
  color: #ffffff;

  line-height: 20px;
  text-decoration: none;

  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
