.popOver {
  color: #5e6c84;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

  /* display: none; */
  width: 304px;
  height: 90%;

  position: absolute;
  left: 50%;
  top: 56px;
  z-index: 3;
}

.header {
  position: relative;
  height: 40px;
  margin-bottom: 8px;

  text-align: center;
  display: grid;
  align-items: center;
}

.header span {
  color: #5e6c84;
  line-height: 40px;

  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  margin: 0 12px;
  padding: 0 32px;
}

.header .closeButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #6b778c;
  padding: 4px;

  display: grid;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;

  position: absolute;
  right: 0;
  top: 0;
}

.body {
  height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px 12px;
}

.body code {
  background-color: #f4f5f7;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(9 30 66 / 13%);
  color: #eb5a46;
  padding: 1px 3px;
  margin: -1px 2px;
}

.body hr {
  margin: 8px 0;
  background-color: rgba(9, 30, 66, 0.13);
  border: 0;
  height: 1px;
  padding: 0;
  width: 100%;
}
