.boardsHolder {
  min-height: inherit;
  margin: 40px 16px 0 16px;
  flex-basis: 100%;
}
.boardsSection {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 0 20px 0;
}

.boardsHolder a {
  text-decoration: none;
}

.boardsHeader {
  margin-bottom: 8px;
  display: flex;
}

.boardsHeader h3 {
  margin-left: 8px;
}

.boardsTitle {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.boardsList {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}
