.profileHolder {
  height: 100%;
  min-height: inherit;
  flex: 1 0 272px;
  background: #fff;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.profName {
  margin-top: 1rem;
  text-align: center;
}
.profPicture {
  margin-top: 40px;
  border-radius: 50%;
  background: lightskyblue;
  color: #fff;
  height: 120px;
  width: 120px;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItems {
  user-select: none;
  margin-top: 2rem;
  display: grid;
  width: 100%;
}
.menuItems ul,
.menuItems li,
.menuBottom ul,
.menuBottom li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItems li,
.menuBottom li {
  cursor: pointer;
  padding: 6px 32px;
  display: flex;
  align-items: center;
  transition: 200ms;
}
.menuItems li span {
  margin-left: 8px;
}
.menuItems .active,
.menuBottom li:hover {
  background-color: #e4f0f6;
  color: #0079bf;
}

.menuBottom {
  user-select: none;
  margin-top: auto;
  margin-bottom: 16px;
  display: grid;
  width: 100%;
}
